{
  "Id": "${policyId}",
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "${statementId}",
      "Action": [
        "s3:PutObject"
      ],
      "Effect": "Allow",
      "Resource": "arn:aws:s3:::${bucket}/${prefix}/AWSLogs/${acctId}/*",
      "Principal": {
        "AWS": [
          "${regionAcctId}"
        ]
      }
    }
  ]
}